alias cbat="bat --paging never"
alias d8="rlwrap $CODE_PATH/v8/out.gn/x64.debug/d8 --allow-natives-syntax"
alias gcleanup="git branch --merged | egrep -v '(^\*|master|main|dev)' | xargs git branch -d"
alias gdiff="git diff -- ':!package-lock.json' ':!yarn.lock'"
alias gpull="git pull"
alias gpush="git push"
alias less="bat --paging always"
alias lg="lazygit"
alias ls="ls -Ga"
alias vim="nvim"