alias cbat="bat --paging never"
alias d8="rlwrap $CODE_PATH/v8/out.gn/x64.debug/d8 --allow-natives-syntax"
alias ga="git add"
alias gaa="git add -A"
alias gc="git commit"
alias gco="git checkout"
alias gcleanup="git branch --merged | egrep -v '(^\*|master|main|dev)' | xargs git branch -d"
alias gdiff="git diff -- ':!package-lock.json' ':!yarn.lock'"
alias gm="git merge"
alias gpull="git pull"
alias gpush="git push"
alias gst="git status"
alias gsw="git switch"
alias less="bat --paging always"
alias lg="lazygit"
alias ls="ls -Ga"
alias vim="nvim"

alias td="bundle && yarn && rails db:migrate && rails tmp:cache:clear && rails i18n:js:export"