alias c="open $1 -a \"Cursor\""
alias cbat="bat --paging never"
alias cl="claude"
alias claude="~/.claude/local/claude"
alias d8="rlwrap $CODE_PATH/v8/out.gn/x64.debug/d8 --allow-natives-syntax"
alias ga="git add"
alias gaa="git add -A"
alias gc="git commit"
alias gce="gh copilot explain"
alias gcleanup="gcleanup-merged && gcleanup-squash-merged"
alias gcleanup-merged="git branch --merged | egrep -v '(^\*|master|main|dev|develop)' | xargs git branch -d"
alias gcleanup-squash-merged="git-list-squash-merged | xargs git branch -D"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcs="gh copilot suggest"
alias gdiff="git diff -- ':!package-lock.json' ':!yarn.lock'"
alias gm="git merge"
alias gpull="git pull"
alias gp="gpull"
alias gpush="git push"
alias gs="gst"
alias gst="git status"
alias gsw="git switch"
alias less="bat --paging always"
alias lg="lazygit"
alias ls="ls -Ga"
alias oc="overmind connect"
alias or="overmind restart"
alias os="overmind start"
alias osl="overmind start -l"
alias v="open -a \"Visual Studio Code\""
alias vim="nvim"